<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Afhentninger denne uge</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="title">Afhentninger denne uge</h1>
    <form class="" action="/save" method="post">
      <input type="submit" value="Gem">
      <table class="week">
        <thead>
          <tr>
            <td>Uge: <%- weeknumber %></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="day">Mandag</span>
              <textarea name="mandag" rows="8" cols="80"><%- week.mandag%></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Tirsdag</span>
              <textarea name="tirsdag" rows="8" cols="80"><%- week.tirsdag%></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Onsdag</span>
              <textarea name="onsdag" rows="8" cols="80"><%- week.onsdag%></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Torsdag</span>
              <textarea name="torsdag" rows="8" cols="80"><%- week.torsdag%></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Fredag</span>
              <textarea name="fredag" rows="8" cols="80"><%- week.fredag%></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Lørdag</span>
              <textarea name="lordag" rows="8" cols="80"><%- week.lordag%></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="day">Søndag</span>
              <textarea name="sondag" rows="8" cols="80"><%- week.sondag%></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
