<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <title>Ugeplan</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="title">Uge Plan</h1>
    <table class="week">
      <thead>
        <tr>
          <td>Uge: <%- weeknumber %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="day">Mandag</span>
            <p class="dayText"><%- week.mandag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Tirsdag</span>
            <p class="dayText"><%- week.tirsdag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Onsdag</span>
            <p class="dayText"><%- week.onsdag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Torsdag</span>
            <p class="dayText"><%- week.torsdag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Fredag</span>
            <p class="dayText"><%- week.fredag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Lørdag</span>
            <p class="dayText"><%- week.lordag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Søndag</span>
            <p class="dayText"><%- week.sondag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
  <script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8" type="text/javascript"></script>
  <script src="/bower_components/markdown-it/dist/markdown-it.min.js" charset="utf-8" type="text/javascript"></script>
  <script type="text/javascript">
    var md = window.markdownit();
    $('.dayText').each(function(){
      var result = md.renderInline($(this).text());
      $(this).html(result);
    });
  </script>
</html>
