<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <title>Ugeplan</title>
    <!-- Include external CSS. -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css"> -->

    <!-- Include Editor style. -->
    <link href="/bower_components/froala-wysiwyg-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="/bower_components/froala-wysiwyg-editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="title">Uge Plan</h1>
    <table class="week fr-view">
      <thead>
        <tr>
          <td class="center">Uge: <%- weeknumber %></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="day">Mandag, den <%- week.mandagDato%></span>
            <p class="dayText"><%- week.mandag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Tirsdag, den <%- week.tirsdagDato%></span>
            <p class="dayText"><%- week.tirsdag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Onsdag, den <%- week.onsdagDato%></span>
            <p class="dayText"><%- week.onsdag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Torsdag, den <%- week.torsdagDato%></span>
            <p class="dayText"><%- week.torsdag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Fredag, den <%- week.fredagDato%></span>
            <p class="dayText"><%- week.fredag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Lørdag, den <%- week.lordagDato%></span>
            <p class="dayText"><%- week.lordag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
        <tr>
          <td>
            <span class="day">Søndag, den <%- week.sondagDato%></span>
            <p class="dayText"><%- week.sondag.replace(/\n/g, '<br/>')%></p>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
